<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">RangkasPC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">PC</a>
          <a class="dropdown-item" href="#">PS4</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">XBOX</a>
        </div>
      </li>
      <li>
        <input class="form-control mr-sm-2 searchField" type="search" placeholder="Search" aria-label="Search">
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success mx-2 my-sm-0" type="submit">Login</button>
      <button class="btn btn-outline-success mx-2 my-sm-0" type="submit">Signup</button>
      <button type="button" class="btn btn-outline-info mx-0">Cart</button>
      <!-- CART BUTTON NANTI DIGANTI AMA LOGO CART-->
    </form>
  </div>
</nav>
