<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <!--First column-->
      <div class="col-md-6">
        <h5 class="text-uppercase">RangkasPC</h5>
        <p>Your Solution to Buying Digital Game!</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <a *ngIf="!authService.isLogin()" routerLink="/login">Sign in</a>
          </li>
          <li>
            <a *ngIf="!authService.isLogin()" routerLink="/signup">Register</a>
          </li>
          <li>
            <a *ngIf="authService.isLogin()" routerLink="/edit">Profile</a>
          </li>
          <li>
            <a *ngIf="authService.isLogin()" routerLink="/cart">
              <i class="fa fa-shopping-cart"></i><span>View Cart</span>
            </a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="#"> RangkasPC.com</a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
