<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <!--First column-->
      <div class="col-md-6">
        <h5 class="text-uppercase">RangkasPC</h5>
        <p>Your Solution to Digital Game License!</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">Login</a>
          </li>
          <li>
            <a href="#!">Terms of Service</a>
          </li>
          <li>
            <a href="#!">About Us</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="#"> RangkasPC.com</a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
