<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary">
            Reset Password
          </span>
        </h1>
        <form #userForm="ngForm" (submit)="sendResetLink()">
          <div class="form-group">
            <label>Email</label>
            <input name="Email" placeholder="Your Email" [(ngModel)]="resetLink.email" #email="ngModel" [ngClass]="{'is-invalid':email.errors && email.touched}" class="form-control" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <div [hidden]="!email.errors?.required" class="invalid-feedback">
              Email is required!
            </div>
            <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
              Email is not valid!
            </div>
          </div>
          <input [disabled]="!userForm.form.valid" type="submit" value="Request Reset Link" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>
