<nav class="navbar navbar-expand-lg navbar-dark red">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><strong>RangkasPC</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">PC</a>
            <a class="dropdown-item" href="#">Steam</a>
            <a class="dropdown-item" href="#">XBox</a>
            <a class="dropdown-item" href="#">Playstation</a>
          </div>
        </li>
        <!-- Links -->

      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a *ngIf="!authService.isLogin()" class="nav-link" routerLink="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!authService.isLogin()" class="nav-link" routerLink="/signup">Register</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.isLogin()" class="nav-link" routerLink="/edit">Profile</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.isLogin()" class="nav-link" (click)="submitLogout()">Log Out</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-shopping-cart"></i>(<span>{{ 0 }}</span>)</a>
          <div class="dropdown-menu">
            <!--FILLED WITH USER'S CHOICE, DYNAMICALLY ADDED-->
          </div>
        <!--<li class="nav-item">-->
          <!--<a *ngIf="this.user.name != null" class="nav-link">Hello {{ this.user.name }}</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">Cart (<span>{{ 0 }}</span>)</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

