<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary">
            Reset Password
          </span>
        </h1>
        <form (submit)="submitResetPassword()">
          <div class="form-group">
            <label>New Password</label>
            <input type="password" name="password1" placeholder="Your New Password" [(ngModel)]="resetData.password" #password1="ngModel" [ngClass]="{'is-invalid':password1.errors && password1.touched}" class="form-control" required>
            <div [hidden]="!password1.errors?.required" class="invalid-feedback">
              New Password is required!
            </div>
          </div>
          <div class="form-group">
            <label>Retype Password</label>
            <input type="password" name="password2" placeholder="Retype your new password" [(ngModel)]="confirmPassword.password" #password2="ngModel" [ngClass]="{'is-invalid':password2.errors && password2.touched}" class="form-control" required validateEqual="password">
            <div [hidden]="!password2.errors?.required" class="invalid-feedback">
              Retype New Password is required!
            </div>
          </div>
          <input type="submit" value="Reset Password" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>
