<app-header></app-header>

<div class="container">
<br>
<button type="button" class="btn btn-outline-primary">Primary</button>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<!-- Add textbox in HomePage -->
<!-- Seperate the page to 3 column -->
<div class="Row">
    <div class="Column">
      <!-- Create the left textbox -->
      <div class="input-group">
        <!-- RAM Textbox -->
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2">RAM</div>
        </div>
        <input type="text" class="form-control" placeholder="Your RAM" aria-label="Input group example" aria-describedby="btnGroupAddon" disabled>
        <button type="button" class="btn btn-danger">Add</button>
      </div>
      <!-- RAM Textbox End -->
      <br>
      <!-- Processor Textbox -->
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2">Processor</div>
        </div>
        <input type="text" class="form-control" placeholder="Your Processor" aria-label="Input group example" aria-describedby="btnGroupAddon" disabled>
        <button type="button" class="btn btn-danger">Add</button>
      </div>
      <!-- Processor Textbox End -->
      <br>
      <!-- Hard Disk Textbox -->
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2">Hard Disk</div>
        </div>
        <input type="text" class="form-control" placeholder="Your Hard Disk" aria-label="Input group example" aria-describedby="btnGroupAddon" disabled>
        <button type="button" class="btn btn-danger">Add</button>
      </div>
      <!-- Hard Disk Textbox End -->
    </div>
    <!-- Center Image in HTML -->
    <div class="Column">
      <img src="assets/images/computer_pc.png" class="centerimage">
    </div>
    <!-- Create the right textbox-->
    <div class="Column">
      <!-- VGA Textbox -->
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2">VGA</div>
        </div>
        <input type="text" class="form-control" placeholder="Your VGA" aria-label="Input group example" aria-describedby="btnGroupAddon" disabled>
        <button type="button" class="btn btn-danger">Add</button>
      </div>
      <!-- VGA Textbox End -->
      <br>
      <!-- Casing Textbox -->
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2">Casing</div>
        </div>
        <input type="text" class="form-control" placeholder="Your Casing" aria-label="Input group example" aria-describedby="btnGroupAddon" disabled>
        <button type="button" class="btn btn-danger">Add</button>
      </div>
      <!-- Casing Textbox End -->
      <br>
      <!-- Monitor Textbox -->
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2">Monitor</div>
        </div>
        <input type="text" class="form-control" placeholder="Your Monitor" aria-label="Input group example" aria-describedby="btnGroupAddon" disabled>
        <button type="button" class="btn btn-danger">Add</button>
      </div>
      <!-- Monitor Textbox End -->
    </div>
</div>

<!-- Create Footer -->
<div class="footer">
  <div class="container">
    <p>@2018 PT Rangkas </p>
  </div>
</div>
