<div class="container">

  <div class="jumbotron jumbotron-fluid mt-3">
    <h1>Products</h1>
    <div class="display-6">All listed products</div>
  </div>

  <div class="container-fluid">
    <ng-ais-instantsearch
      [config]="algoliaConfig">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="form-group">
            <ng-ais-clear-refinements [autoHideContainer]="true" buttonLabel="Clear filter"></ng-ais-clear-refinements>
            <h3>Filter by Platform:</h3>
            <ng-ais-refinement-list attribute="type"></ng-ais-refinement-list>
            <br>
            <div class="form-group">
              <h3>Genre:</h3>
              <ng-ais-refinement-list attribute="gameplay"></ng-ais-refinement-list>
              <br>
              <h3>Developer:</h3>
              <ng-ais-refinement-list attribute="brand"></ng-ais-refinement-list>

            </div>

          </div>

        </div>
        <div class="col-md-8 ml-5">
          <ng-ais-search-box placeholder="Search for ..."></ng-ais-search-box>
          <div class="row mt-3">
            <ng-ais-infinite-hits>
              <ng-template let-hits="hits" let-results="results">
                <div *ngIf="hits.length === 0">
                  <p>Sorry, there is no result for :<strong>{{results.query}}</strong></p>
                </div>
                <div class="card-columns">
                  <div *ngFor="let hit of hits" class="card mb-3">
                    <!--Card image-->
                    <div class="view overlay">
                      <img class="img-fluid" src="http://localhost:8000/uploads/{{hit.img}}" alt="{{hit.name}}">
                      <a routerLink="/product/{{hit.id}}">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                    <div class="card-body text-center">
                      <ng-ais-highlight attribute="name" [hit]="hit"><h4 class="card-title"></h4></ng-ais-highlight>
                      <p class="card-text">{{ hit.type }} | {{ hit.brand }} | {{ hit.gameplay }}</p>
                      <p class="card-text">{{ hit.price | currency:'Rp.' }}</p>
                      <a routerLink="/product/{{hit.objectID}}" role="button" class="btn btn-light-blue btn-md">Detail</a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-ais-infinite-hits>

          </div>
          <div class="col-md-6 offset-md-3">
            <ng-ais-pagination></ng-ais-pagination>
          </div>
        </div>


      </div>
    </ng-ais-instantsearch>

  </div>
</div>
