<div class="container-fluid">
  <div class="row">
    <div  class="col-md-12 mt-5 text-center">
      <h2> {{ products.name }}</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <img src="http://localhost:8000/uploads/{{products.img}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-7">
      <h1 class="text-center">
        <i class="fa fa-steam-square"></i>
        <!--<i class="fas fas-key"></i>-->
      </h1>
      <!--<h1 class="text-center"><i class="fa fa-steam-square"></i></h1>-->
      <!--<h1 class="text-center"><i class="fa fa-key"></i></h1>-->
      <hr>
      <h5 class="text-md-center">{{ products.type }}</h5>
      <h5 class="text-md-center">{{ products.brand }}</h5>
      <br>
      <h3 style="color: #80e817;" class="text-center mt-2">{{ stock }}</h3>
      <br>
      <h3 class="text-center">{{ products.price | currency:'Rp'}}</h3>
      <label>Amount</label>
      <input type="number" name="amount" [(ngModel)]="amount" placeholder="Insert amount you want to purchase">
      <br><br>
      <button type="button" class="btn btn-light-blue btn-lg btn-block" (click)="validateLogin()">Buy Now</button>

    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-5">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-home" aria-selected="true">Product Description</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-spec" role="tab" aria-controls="nav-profile" aria-selected="false">System Requirement</a>

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-home-tab">
          <br>
          {{ products.description }}
          <br><br><hr>
          <label>Trailer: </label>
          <br>
          <iframe width="560" height="315" [src]="getVideo()" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="tab-pane fade border-info" id="nav-spec" role="tabpanel" aria-labelledby="nav-spec-tab">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Graphics</li>
            <li class="list-group-item ">Processor</li>
            <li class="list-group-item">Memory </li>
            <li class="list-group-item">Disk space </li>
            <li class="list-group-item">System </li>
            <li class="list-group-item">Other  </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
