<div class="container-fluid">
  <div class="row">
    <div  class="col-md-12 mt-5 text-center">
      <h2> {{ products.name }}</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <img style="width: 410px " src="http://localhost:8000/uploads/{{products.img}}" class="img-fluid" alt="Responsive image">
      <br>
      <!--Youtube Video-->
      <div>
      <label>Trailer: </label>
      <br>
      <iframe *ngIf="getVideo()!==null" width="410" height="280" [src]="getVideo()" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <!--Youtube Video-->
      </div>
    </div>
    <div class="col-md-7">
      <h1 class="text-center">
        <span><i class="fa fa-desktop"></i></span>
        <!--<i class="fas fas-key"></i>-->
      </h1>
      <!--<h1 class="text-center"><i class="fa fa-steam-square"></i></h1>-->
      <!--<h1 class="text-center"><i class="fa fa-key"></i></h1>-->
      <hr>
      <h5 class="text-md-center">{{ products.type }}</h5>
      <h5 class="text-md-center">{{ products.gameplay }}</h5>
      <h5 class="text-md-center">{{ products.brand }}</h5>
      <br>
      <h3 class="text-center mt-2">Stocks: {{ products.stock }}</h3>
      <!--product stock nnti aj pas ke sana-->
      <br>
      <h3 class="text-center">{{ products.price | currency:'Rp'}}</h3>
      <!--Amount of item-->
      <label>Amount</label>
      <input type="number" name="amount" [(ngModel)]="amount" onkeypress='return event.charCode >= 49 && event.charCode <= 57' min="1" max="5" placeholder="Insert amount you want to purchase">
      <br><br>
      <!--Amount of item-->
      <button type="button" class="btn btn-light-blue btn-lg btn-block" (click)="validateLogin()">Buy Now</button>
      <br>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-5">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-home" aria-selected="true">Product Description</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-home-tab">
          <br>
          {{ products.description }}
        </div>
      </div>

      <hr>

      <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mt-md-4">
          <h3 class="text-center">Similar Product</h3>
        <div class="card-deck">
          <div *ngFor="let similar of similars" class="card">
            <div class="view overlay">
              <img style="margin:auto" class="img-fluid" src="http://localhost:8000/uploads/{{similar.img}}" alt="Card image cap">
                 <a routerLink="/product/{{ similar.id }}">
                  <div class="mask rgba-white-slight"></div>
                 </a>
              <div class="card-body text-center">
                <h4 class="card-title">{{similar.name}}</h4>
                <p class="card-text">{{ similar.type }} | {{ similar.brand }} | {{ similar.gameplay }}</p>
                <p class="card-text">{{ similar.price | currency:'Rp. ' }}</p>
                <a routerLink="product/{{similar.id}}" role="button" class="btn btn-light-blue btn-md">Detail</a>
              </div>
            </div>
            </div>
        </div>

      </div>
      </div>

    </div>
    </div>
  </div>
</div>
