<!--<img src="http://localhost:8000/uploads/carousel/pubg.jpg" alt="">-->
<!--CAROUSEL START-->
<mdb-carousel [isControls]="true" [animation]="'slide'">
  <mdb-slide *ngFor="let carousel of carousels" class="myCarousel">
    <img class="d-block w-100 box" src="http://localhost:8000/uploads/image/5fb65a9bdbd9739a6bea2fe6f740d5e8.jpg" alt="{{ carousel.name }}">
  </mdb-slide>
</mdb-carousel>
<!--END OF CAROUSEL-->
<hr>
<div class="container-fluid">
  <h2 class="text-center">Most Featured</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3"></div>
    <div class="col-md-12">
      <!--App Featured-->
      <app-featured></app-featured>
      <!--/App-Featured-->
    </div>
  </div>
</div>
<hr>

<div class="container-fluid">
  <h2 class="text-center">Top Pick</h2>
  <div class="col-md-12">
  <app-top></app-top>
  </div>
</div>
<hr>
<!--New Release-->
<div class="container-fluid">
  <h2 class="text-center">New Release</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

    </div>
    <div class="col-md-12">
      <!--App New Release-->
      <app-new-release></app-new-release>
      <!--/App New Release-->
    </div>

  </div>



</div>
-->

<!--/TOP PICK-->
<hr>



